body {
    background-color: #111;
    color: #00ff88;
    font-family: monospace;
    margin: 20px;
}

#topArea {
    display: flex;
    gap: 40px;
}

#miniMapa {
    border: 2px solid #00ff88;
    padding: 10px;
}

#status {
    border: 2px solid #00ff88;
    padding: 10px;
    min-width: 200px;
}

button {
    background: black;
    color: #00ff88;
    border: 1px solid #00ff88;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background: #00ff88;
    color: black;
}

#log {
    margin-top: 15px;
    border: 2px solid #00ff88;
    padding: 10px;
    height: 150px;
    overflow-y: auto;
}
#miniMapa {
    display: grid;
    grid-template-columns: repeat(10, 20px);
    gap: 2px;
}

.tile {
    width: 20px;
    height: 20px;
}

.parede {
    background-color: #333;
}

.chao {
    background-color: black;
}

.player {
    background-color: red;
}
